<div class="convict-index-show-container flex-column">

  <div>
    <h1>Leaderboard</h1>

    <div class="ui raised padded segment flex-column cell-block-index-segment">
      <h2>Most Recent Incidents</h2>

      <% @latest_incident_reports.each do |incident_report| %>
        <div>
          <h3><%= link_to incident_report.prisoners.first.full_name, incident_report %> (Cell: <%= link_to  incident_report.prisoners.first.cell.name, incident_report.prisoners.first.cell %>)</h3>
          <p><%= incident_report.incident_type.name %> </p>
          <p><strong>Content:</strong> <%= incident_report.short_desc  %></p>
        </div>

        <p><%= link_to "View Report", incident_report %></p>
        <% if incident_report != @latest_incident_reports.last %>
          <div class="ui divider"></div>
        <% end %>
      <% end %>
    </div>

    <div class="ui raised padded segment flex-column cell-block-index-segment">
      <h2>Newest Prisoners</h2>

      <% @latest_prisoners.each do |prisoner| %>
        <div>
          <p>
            <strong><%= link_to prisoner.full_name, prisoner %></strong> <em>(<%=  prisoner.nickname %>)</em> <br/>
          </p>
          <p>
            <strong>Conviction: </strong><%= prisoner.conviction %>
          </p>
          <p>
            <strong>Intake Date:</strong> <%= prisoner.formatted_intake_date  %> <br/>
            <strong>Release Date:</strong> <%= prisoner.formatted_release_date  %>
          </p>
          <br/>
        </div>
        <% if prisoner != @latest_prisoners.last %>
          <div class="ui divider"></div>
        <% end %>
      <% end %>
    </div>



  </div>

</div>
