<div class="convict-new-edit-container flex-column">

  <div class="ui raised padded segment flex-column align-center">

  <h2>Report an Incident</h2>

    <%= form_for @incident_report, html: {class: "ui form convict-form"} do |f|%>
      <div class="flex-column align-center">
        <div class="flex-row convict-form-fields">
          <div>
            <%= f.label :content %>
            <%= f.text_area :content %>
            <%= f.label :incident_type_id %>
            <%= f.collection_select :incident_type_id, IncidentType.all, :id, :name %>
            <%= f.fields_for :incident_participants do |incident_participant| %>
            Plaintiff: <%= incident_participant.collection_select :plaintiff_id, Prisoner.all, :id, :name %>
            Defendant: <%= incident_participant.collection_select :defendant_id, Prisoner.all, :id, :name %>
            <% end %>
          </div>
        </div>
          <div class="convict-top-margin">
            <%= f.submit "Submit Report", class: 'ui big button padded' %>
          </div>
      </div>
    <% end %>
  </div>
</div>
