
<div class="side-login">
  <div class="login-form-fields">
    <%= form_tag sessions_path, class: "ui form convict-form-fields" do %>
      <div class="item">
        <%= label_tag "Email" %>
        <%= text_field_tag :username, nil, class: "ui input" %>
      </div>
      <div class="item">
        <%= label_tag "Password" %>
        <%= password_field_tag :password, nil, class: "ui input"%>
      </div>
      <div class="item">
        <%= submit_tag "Log me in", class: "ui orange button" %>
      </div>
    <% end %>

  </div>

  <div class="item">
    <div class="header">Not a Member Yet?</div>
    <a class="" href="<%= signup_path %>">Sign Up</a>
  </div>
</div>
