<div class="item">
  <a href="<%= incident_reports_path %>"><img src="<%= asset_path 'convictify-logo.svg' %>" max-width="250px" style="margin-top:20px;margin-bottom:20px;"/></a>
</div>
<div class="item">
  <div class="header">Log In</div>
  <% if logged_in? %>
  <div class="menu">
      <a class="item" href="<%= guard_path(session[:user_id])  %>">My Profile</a>
      <%= link_to "Logout", sessions_path, method: :delete, class: "item" %>
    <% else %>
    <div class="menu"></div>
      <%= render partial: "/partials/login_form" %>


  </div>

</div>
<div class="item">
  <div class="header">Not a Member Yet?</div>
  <a class="" href="<%= signup_path %>">Sign Up</a>
</div>

<% end %>
<% if logged_in? %>
  <div class="item">
    <div class="header">Prisoners</div>
    <div class="menu">
      <a class="item" href="<%= prisoners_path %>">Leaderboard</a>
      <% if logged_in? %>
        <a class="item" href="<%= new_prisoner_path %>">My Prisoners</a>
        <a class="item" href="<%= new_prisoner_path %>">New Prisoner</a>
      <% end %>
    </div>
  </div>
  <div class="item">
    <div class="header">Cell Blocks</div>
    <div class="menu">
      <a class="item" href="<%= cell_blocks_path %>">View All</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Incident Reports</div>
    <div class="menu">
      <a class="item" href="<%= incident_reports_path %>">View All</a>
      <% if logged_in? %>
        <a class="item" href="<%= new_incident_report_path %>">Create New</a>
      <% end %>
    </div>
  </div>
<% end %>
