


<% if logged_in? %>
<div class="ui top fixed borderless menu" >
  <div class="item">
    <img src="<%= asset_path 'convictify-logo-rect.svg' %>" style="width: 200px; margin-top: 20px; margin-bottom:20px;"/>
    <a href="<%= incident_reports_path %>"></a>
  </div>
  <a class="item" href="<%= leaderboard_path %>">Leaderboard</a>
  <a class="item" href="<%= incident_reports_path %>">Incident Reports</a>
  <a class="item" href="<%= guard_path(Guard.find(session[:user_id]))%>">My Profile</a>
  <%= link_to "Logout", sessions_path, method: :delete, class: "item" %>
</div>

<% else %>
<div class="item">
  <img src="<%= asset_path 'convictify-logo-rect.svg' %>" style="width: 200px; margin-top: 20px; margin-bottom:20px; text-align: center;"/>
  <a href="<%= incident_reports_path %>"></a>
</div>
<div class="ui top fixed borderless menu">
  <%= render partial: "/partials/login_form" %>
</div>
<% end %>
