<div class="convict-container flex-column">

  <div class="ui raised padded segment flex-column align-center">

  <h1>Edit Guard</h1>

    <%= form_for @guard, html: {class: "ui form convict-form"} do |f| %>
      <div class="flex-column align-center">
        <div class="flex-row convict-form-fields">
          <div>
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
            <%= f.label :cell_block_id %>
            <%= f.collection_select :cell_block_id, @cell_blocks, :id, :name %>
          </div>
          <div>
            <%= f.label :username %>
            <%= f.text_field :username %>
            <%= f.label :password %>
            <%= f.password_field :password %>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="convict-top-margin">
          <%= f.submit class: 'ui big orange button padded' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
