<div class="convict-new-edit-container flex-column">

  <!-- Display Error Messages -->
  <% if flash[:error] %>
    <% flash[:error].each do |err| %>
      <div class="ui red message"><%= err %></div>
    <%end%>
  <%end%>

  <div class="ui raised padded segment flex-column align-center">

  <h1>Signup</h1>

    <%= form_for @guard, html: {class: "ui form convict-form"} do |f| %>
      <div class="flex-column align-center">
        <div class="flex-row convict-form-fields">
          <div>
            <%= f.label :first_name%>
            <%= f.text_field :first_name, placeholder: "First Name"  %>
            <%= f.label :last_name %>
            <%= f.text_field :last_name, placeholder: "Last Name"  %>
            <%= f.label :cell_block_id %>
            <%= f.collection_select :cell_block_id, @cell_blocks, :id, :name %>
          </div>
          <div>
            <%= f.label :username %>
            <%= f.text_field :username, placeholder: "Username" %>
            <%= f.label :password %>
            <%= f.password_field :password, placeholder: "Password"  %>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, placeholder: "Password confirmation"  %>
          </div>
        </div>
        <div class="convict-top-margin">
          <%= f.submit "Signup", class: 'ui big button padded' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
