<div class="convict-index-show-container flex-column">
  <div>

  <h1><%= @guard.full_name %></h1>

    <div>
      <p><strong>Cell Block Assignment:</strong> <%= @guard.cell_block.name %></p>
      </br>
      <p><strong><%= @guard.incident_reports.count %> Incident Reports:</strong></p>
        <% if @guard.incident_reports.empty? %>
          <div class="ui raised padded segment flex-column cell-block-index-segment">
            <div>
              <h3><em>You have not reported anyone yet!</em></h3>
              <%= link_to "Show em who's boss", new_incident_report_path, class: "ui big orange button" %>
            </div>
          </div>
        <% end %>
        <% @guard.incident_reports.each do |incident_report| %>
          <% @incident_report = incident_report%>
          <%= render partial: "/partials/incident_report_loop" %>
        <% end %>
      </br>

      <h3>Prisoners:</h3>
        <%= render partial: "/partials/my_prisoners" %>
    </div>

  </div>
</div>
