<h1>Cell Blocks</h1>

<% @cell_blocks.each do |cellblock| %>
  <div class="ui raised padded segment flex-column">
      <div class="big-letter"><%= link_to cellblock.name, cellblock %></div>
      <div>
        <span>Security Rating:</span> <%= cellblock.security_rating %> </br>
        <span>Number of Cells:</span> <%= cellblock.cells.count %> </br>

        <span>Guard:</span> <%= link_to cellblock.guard_list[0].full_name, cellblock.guard_list[0] %> </br>
      </div>
      <p><%= link_to "View Cell Block", cellblock %></p>
  </div>
<% end %>
