<div class="flex-column">
<h1>Prisoners</h1>

<div class="ui list">
  <% @prisoners.each do |prisoner| %>
      <!-- <li><%= link_to prisoner.name, prisoner %> | <%= prisoner.nickname %></li> -->
        <div class="item">
          <img class="ui avatar image" src="http://i.pravatar.cc/50">
          <div class="content">
            <a class="header"><%= link_to prisoner.name, prisoner %></a>
            <div class="description"><%= prisoner.nickname %></div>
          </div>
        </div>
  <% end %>
</div>


</div> <!-- end .flex-column -->


<!--  -->
<!-- <ul>
  <% @prisoners.each do |prisoner| %>
      <li><%= link_to prisoner.name, prisoner %> | <%= prisoner.nickname %></li>
  <% end %>
</ul> -->
