<div class="convict-new-edit-container flex-column">

  <div class="ui raised padded segment flex-column align-center">

  <h1>Convictify New Prisoner</h1>

    <%= form_for @prisoner, html: {class: "ui form convict-form"} do |f| %>
      <div class="flex-column align-center">
        <div class="flex-row convict-form-fields">
          <div>
            <%= f.label :first_name %>
            <%= f.text_field :first_name, placeholder: "First Name"  %>
            <%= f.label :last_name %>
            <%= f.text_field :last_name, placeholder: "Last Name"  %>
          </div>
        </div>
        <div class="convict-top-margin">
          <%= f.submit "Convictify", class: 'ui big button padded' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
