<div class="convict-index-show-container flex-column">

  <div class="prisoner-title">
    <div><h1><%= @prisoner.full_name %></h1></div>
    <div><h3><%= @prisoner.nickname %></h3></div>
  </div>
  <br/>

  <div>
    <br/>
    <p><strong>Cell:</strong> <%= link_to @prisoner.cell.name, @prisoner.cell %></p>
    <p><strong>Guard:</strong>
      <% @prisoner.guards.each do |guard| %>
        <%= link_to guard.full_name, guard %>
      <% end %>
    </p>
    <br/>
    <p><strong>Conviction:</strong> <%= @prisoner.conviction %></p>
    <p><strong>Intake Date: </strong><%= @prisoner.formatted_intake_date %></p>
    <p><strong>Release Date: </strong><%= @prisoner.formatted_release_date %></p>
    <br/>
    <p><strong>Cellmates: </strong></p>
    <% @prisoner.cellmates.each do |prisoner| %>
      <div><%= link_to prisoner.full_name, prisoner %></div>
    <% end %>
    <br/>
    <p><strong>Incident Reports: </strong></p>
    <% @prisoner.incident_reports.each do |incident_report| %>
      <% @incident_report = incident_report%>
      <%= render partial: "/partials/incident_report_loop" %>
    <% end %>

  </div>


</div>
